<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSg-8ClHoSWH-uGJ7MVtdyv5maeB6TTq07StXbGGbmI4GGbq5I4" heigh = 200 with= 200 />
<img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRtFKp92jnzyucHsbZ-Dkv0DKK306X8B22OR8CzeYoojpFn_b24zQ" heigh = 200 with= 200/>
<img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSD4PzESMLVWPGi_rPFZjTjdeX8VXyOrDFjkHd4G9Ii8X8dV8hGgw" heigh = 200 with= 200/>
<p>- La luz del pensamiento filosofico no es la luz viviente del sol, sino la claridad, principio de la vida segun Platon, el teologo de esta luz.</p>
<p>- Un filosofo es el hombre en quien la intimidad se eleva a categoria racional; sus conflictos sentimentales, su encuentro con el mundo, se resuelve y se transforma en una teoria.</p>
<p>- No se pasa de lo posible a lo real, sino de lo imposible a lo verdadero.</p>